@import 'tailwindcss';
@import '@happyview/design-system/globals.css';
@import 'fumadocs-ui/css/lib/default-colors.css';
@import 'fumadocs-ui/css/preset.css';

@source "../../node_modules/fumadocs-ui/dist/**/*.js";

@media (min-width: 768px) {
  * {
    --fd-sidebar-width: 300px !important;
  }
}

#nd-docs-layout {
  --fd-layout-width: 100vw;
}

#nd-sidebar a {
  white-space: nowrap;
}

@media (min-width: 768px) {
  #nd-sidebar > :first-child button[aria-label="Collapse Sidebar"] {
    display: none;
  }
}
